{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<div class="container my-5">

	<!--<i class="fa-solid fa-list"></i>-->
	<h1 class="mb-4"><i class="fas fa-list"></i> 질문 목록</h1>	
	<p>총 {{ page_obj.paginator.count }}건의 질문이 있습니다.</p>
	
	<div class="row justify-content-between my-3">		<!-- 검색기능 -->
	
		<div class="col-4">								<!-- 정렬기능 -->
			<select class="form-control so">
				<option value="recent" {% if so == "recent" %} selected {% endif %}> 최신순</option>
				<option value="recommend" {% if so == "recommend" %} selected {% endif %}> 추천순</option>
				<option value="popular" {% if so == "popular" %} selected {% endif %}> 인기순</option>
			</select>
		</div>
		

		<div class="col-4"  >
		{% if kw %}
			<p style="text-align:center">"{{ kw }}" 검색결과</p>
		{% endif %}
		</div>

		
		<div class="col-4 input-group">
			<input type="text" class="form-control kw" value="{{kw|default_if_none:''}}">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
				
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr class="thead-dark">
				<th>번호</th>
				<th>추천 수</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>	
			{% if page_obj %}
			{% for question in page_obj %}
			<tr class = "">

				<td>{{ question.id }}</td>
				<td class="text-center">
					{% if question.voter.all.count > 0 %}
						<span class="badge badge-warning px-2 py-1">
							{{ question.voter.all.count }}
						</span>
					{% endif %}
				</td>
				<td>
					<a href="{% url 'pybo:detail' question.id %}">
					{{ question.subject }}
					{% if question.answer_set.count > 0 %}
					<span class="text-danger small ml-2">
						{{ question.answer_set.count }}
					</span>
					
					{% endif %}
					</a>
				</td>
				<td>{{ question.author.username }}</td>
				<td> {{ question.create_date }}</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td colspan='100%' style="text-align:center"> 질문이 없습니다.</td>
			</tr>
			{% endif %}
		</tbody>	
	</table>
	{% bootstrap_pagination page_obj %}
	<!-- include를 통해 html파일을 재사용-->
	
	
	<a class="btn btn-outline-primary" href="{% url 'pybo:question_create' %}">
		<i class="far fa-edit mx-2"></i>질문 등록하기
	</a>
	
</div>

{% endblock content %}
{% block script %}

<script type='text/javascript'>
	$(document).ready(function(){
		$('.so').on('change',function(){
			location.href = "?kw=" + $(".kw").val() + "&page=1" + "&so=" + $(this).val();
			// GET메시지로 views 함수 호출
		});
	
		$("#btn_search").on('click',function(){
			location.href = "?kw=" + $(".kw").val() + "&page=1" + "&so=" + $(".so").val();
			
		});
	});
</script>


{% endblock %}